body {
	margin: 0;
	background-color: #000;
	color: rgb(255, 255, 255);
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

a, button, input, select {
	pointer-events: auto;
}
/* #start-ar{
    background: #1594e5;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 300px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px  auto;
}

/* .container {
    display: flex;
} */