#webgl{
    background: #1594e5;
    color: #fff;
    font-family: calibri;
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px  auto;
}